# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore compiled output
/dist/
/build/

# Ignore log files
*.log

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/